/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.row2{
  background: url('image.jpg') no-repeat center center;
  background-size: cover;
  border:black solid 1px;
  padding:100px 120px;
}

button{
  margin: 5px 5px;
}

h1{
  background-color:white;
  opacity: 0.7;
  text-align:center;
  border-radius: 5px;
  margin:0px;
  border: 1px black solid;
}

ul{
  background-color:white;
  width: 150px;
  opacity: 0.7;
  border-radius: 5px;
  padding:2px 2px;
  list-style-position:inside;
  }

.wide{
  width: 200px;
}

li{
  margin: 3px 3px;
  padding: 2px 2px;
}

.mp_columns{
  float: right;
}

.thumbs_up{
  background: url('thumbs_up.jpeg') no-repeat center center;

}

.thumbs_down{
  background: url('thumbs_down.jpeg') no-repeat center center;
}

.borders{
  border:solid 1px black;
  background-color:white;
  opacity: 0.7;
  border-radius:5px;
}
